Makefile
autom4te.cache
/config.cache
/config.log
/config.status
/config.sub

scripts/startup/init.d_script
scripts/startup/wendzelnntpd.service
test.man
*.o
bin/wendzelnntpadm
bin/wendzelnntpd
config.output
config.tab.c
config.tab.h
lex.yy.c
.idea
/unittesting/tmp/
/unittesting/out/
/create_certificate
/docs/wendzelnntpd.conf.5
/docs/create_certificate.8
/wendzelnntpd.conf
